* { margin: 0; padding: 0; }

html,body{
    width: 100%;
    height:100vh;
    background-color: #09240e; 
    color: white;
}

.border{border: 1px solid#ff0000;
}
/*GRILLA*/
#wrapper{
    display: grid;
    grid-template-areas:
    "miHeader"
    "miBanner"
    "miIntro"
    "miMedia"
    "miFooter"
    ;
    grid-template-rows: 90px 1fr 1fr 1fr 60px;
    grid-row-gap: 10px;
    grid-column-gap: 2px;
    width: 100%;
    height: 100vh;
}
/*MEDIA QUERIE*/
@media screen and (min-width:992px) {
    
    #wrapper{
    display: grid;
    grid-template-areas:
    "miHeader miHeader"
    "miBanner miBanner"
    "miIntro miMedia"
    "miFooter miFooter";
    grid-template-columns: auto 350px;
    }
}

/*HEADER*/
header{
    grid-area: miHeader;
    background-color: #0c0c0f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.linear-gradient{
    background: rgb(21,78,83);
    background: linear-gradient(90deg, rgba(21,78,83,1) 12%, rgba(16,189,193,1) 53%, rgba(1,65,106,1) 100%);
}
h1{
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 2em;
    margin-left: 1em;
}

header nav {
    margin-right:1em;
    flex-wrap: wrap;
}

header nav ul li{
    display: inline-block;
    list-style-type: none;
    margin:0 1em;
    align-content: space-between;
}

header nav ul li a {
    color: white;
    font-size: 1em;
    text-decoration: none;
}
/*ANIMACION*/
header nav ul li a:hover {
    color: aqua;
    font-size: 1.2em;
    transition: 1s;
}
/*FIN HEADER*/

/*INICIO INTRO*/
section#banner{
    grid-area: miBanner;
}

section#banner img{
    width: 100%;
    height: 100%;
}
/*CONTENIDO*/
section#intro{
    grid-area: miIntro;
}

hr {
    border-color: red;
  }

section#intro #img-promo{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

section#intro article{
    width: 250px;
    height: 450px;
    border: 1px solid rgb(32, 32, 32);
    background-color: #070707;
    border-radius: 8px;
    box-shadow: 3px 3px 2px rgba(99, 99, 99, 0.933);
    margin: 10px;
}

section#intro article img{
    width: 100%;
    height: auto;
}
/*TEXTOS*/
section#intro h2{
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 0.5em;
    margin-top: 1em;
    color: #eeeeee;
}

section#intro p{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    color: black;
    font-family: 'PT Serif', serif; 
    text-align: justify;
}

section#intro #texto-intro{
    color: white;
}
/*ANIMACION*/
.animate-big:hover{
    transform: scale(110%);
    transition: 1s;
}
/*TEXTOS RECITALES*/
section div ul li{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    background-color:#cf1313

}
.txtContent{
    margin-right: 1em;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
}
/*corrección de bootstrap*/
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:#0c0c0f;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #0c0c0c;
    border-radius: 0.3rem;
}
/*BOTONES*/
.btn-primary {
    color: #fff;
    background-color:red;
    border-color:rgb(255, 255, 255);
}

.btn-danger {
    color: #fff;
    background-color: #ff0019;
    border-color: #ffffff;
    margin-top: 1em;
}

/*TEXTOS*/

section#intro p {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 2em;
    color: rgb(255, 255, 255);
    font-family: 'PT Serif', serif;
    text-align: justify;
}

section#intro h1 {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 3em;
    margin-left: 1em;
}

/*ASIDE*/
aside{
grid-area: miMedia;
}
aside#miMedia div{
    align-items: right;
    margin-left: 2em;
    margin-right: 2em;
}  
/*FIN CONTENIDO*/

/*FOOTER*/
footer{
    padding: 20px;
    grid-area: miFooter;
    font-family:'DM Sans', sans-serif; 
    background-color: #0c0c0f;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}